@import url("syntax.css");

.service {
    border: 1px solid #808080;
    padding: 1rem;
    max-width: 600px;
}

button {
    margin-bottom: 1rem;
}

pre {
    margin: 0;
    white-space: pre-wrap;
}

.prompt {
    white-space: pre;
}

.repl,
.input-line,
.input,
.code-editor {
    font-family: "Google Sans Code", monospace;
    line-height: 1.4;
}

.input-line {
    display: flex;
    margin: 0;
}

.input {
    flex: 1;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.code-editor .highlighted {
    overflow: hidden;
}

.code-editor .code-input {
    overflow: auto;
}

/* We sync the input and the highlighter. */

.code-editor {
    position: relative;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    overflow: hidden;
    background: var(--code-background);
    border: 1px solid var(--code-border);
}

.code-editor .highlighted,
.code-editor .code-input {
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 1rem;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    font-family: "Google Sans Code", monospace;
    font-size: 14px;
    line-height: 1.4;

    white-space: pre-wrap;
    overflow: hidden;
}

.code-editor .highlighted {
    pointer-events: none;
    color: var(--code-text);
}

.code-editor .code-input {
    overflow: auto;
    resize: none;

    border: 0;
    outline: none;

    background: transparent;
    color: transparent;
    caret-color: var(--code-text);
}
