:host {
    display: block;
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.reader {
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 1rem;

    font-family: "Google Sans Code", monospace;
    font-size: 14px;
    line-height: 1.4;

    white-space: pre-wrap;
    tab-size: 4;

    overflow: hidden;

    color: var(--code-text);
}