:where(:root) {
    --background: #edf3fa;
    --code-background: #f1f4f8;
    --paper: #fcfbf8;
    --code-header: #e4e9f1;
    --code-text: #202124;
    --code-border: #d6dce5;
    

    --text: #202124;
    --heading: #202124;

    --link: #1544bf;
    --link-hover: #2b71ff;

    --inline-code-background: var(--code-background);

    /* Syntax highlighting */

    --syntax-reserved: #4b69c6;
    --syntax-number: #9c5d27;
    --syntax-string: #448c27;
    --syntax-constant: #9c5d27;
    --syntax-type: #7a3e9d;
    --syntax-control: #4b69c6;
    --syntax-comment: #aaaaaa;
    --syntax-docstring: #965d27;

    /* Bracket colours. */

    --bracket-0: #0431fa;
    --bracket-1: #319331;
    --bracket-2: #7b3814;

    --red: #800000;
    --yellow: #a0a000;
    --green: #008000;
    --cyan: #008080;
    --blue: #0000bb;
    --purple: #aa00bb;

    /* Font */
    --syntax-font: "Google Sans Code", monospace;
    --syntax-font-size: 15px;

}

@font-face {
    font-family: "Google Sans Code";
    src: url("GoogleSansCode-VariableFont_MONO,wght.woff2")
         format("woff2");
    font-style: normal;
    font-display: swap;
}

.code-block pre,
.code-block code {
    font-family: "Google Sans Code", monospace !important;
}

/* Dark theme */

[data-theme="dark"] {

    --background: #1b1d22;

    --text: #dddddd;
    --heading: #ffffff;

    --link: #75a8ff;
    --link-hover: #b6d2ff;

    /* Code */

    --code-background: #191c21;
    --paper: #23262d;
    --code-header: #292d35;
    --code-text: #dcdcaa;
    --code-border: #414752;

    --inline-code-background: var(--code-background);

    /* Syntax highlighting */

    --syntax-reserved: #5c9cd6;
    --syntax-number: #b5cea8;
    --syntax-string: #ce9178;
    --syntax-constant: #4fc1ff;
    --syntax-type: #4ec9b0;
    --syntax-control: #c586c0;
    --syntax-comment: #6a9955;
    --syntax-docstring: #569cd6;

    --bracket-0: #ffd700;
    --bracket-1: #da70d6;
    --bracket-2: #179fff;

    --red: #ee0000;
    --yellow: #dddd00;
    --green: #00bb00;
    --cyan: #00dddd;
    --blue: #0000ee;
    --purple: #dd00ff;
}

.reserved {
    color: var(--syntax-reserved);
}

.number {
    color: var(--syntax-number);
}

.string {
    color: var(--syntax-string);
}

.constant {
    color: var(--syntax-constant);
}

.type {
    color: var(--syntax-type);
}

.control {
    color: var(--syntax-control);
}

.comment {
    color: var(--syntax-comment);
}

.docstring {
    color: var(--syntax-docstring);
}

.bracket-0 {
    color: var(--bracket-0);
}

.bracket-1 {
    color: var(--bracket-1);
}

.bracket-2 {
    color: var(--bracket-2);
}

.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);
}

.cyan {
    color: var(--cyan);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.code {
    background-color: var(--inline-code-background);
    font-family: var(--syntax-font);
    font-size: var(--syntax-font-size);
    border: 1px solid var(--code-border);
    padding: .0em .20em;
    border-radius: 4px;
}
